.cartCenter {
  width: 90vw;
  max-width: 1170px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
.cartItemList {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.cartItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.cartItem div {
  width: 100px;
  text-align: center;
}
.cartItem div:nth-child(2) {
  width: 200px;
}
.cartItem .itemImg {
  height: 100px;
}
.cartItem .itemImg img {
  width: 100%;
  height: auto;
}
.cartCast {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: left;
  margin-bottom: 10px;
}
.cartCast h2 {
  margin-bottom: 30px;
}
.CastItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.CastItem:last-of-type {
  padding-top: 3px;
  border-top: 1px solid #ccc;
}
.btnGroup button {
  padding: 5px 10px;
  border: 1px solid #6d28d9;
  outline: none;
  color: #6d28d9;
  background-color: #fff;
  cursor: pointer;
}
.btnGroup button:first-child {
  border-radius: 5px 0 0 5px;
}
.btnGroup button:nth-child(2) {
  width: 40px;
  border-left: 0;
  border-right: 0;
  cursor: default;
}
.btnGroup button:last-child {
  border-radius: 0 5px 5px 0;
}
@media screen and (min-width: 576px) {
  .m-w-576 {
    width: 30%;
  }
}
@media screen and (max-width: 860px) {
  .m-w-860 {
    width: 100%;
    flex-direction: column;
  }
}
